<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup> 
  <appSettings>
    <!--<add key="connStr" value="Initial Catalog={DATABASE};Data Source=mdclag_listen.mdclarity.local;Integrated Security=SSPI"/>-->
    <!--<add key="connStr" value="Initial Catalog={DATABASE};Data Source=10.84.79.61;Integrated Security=SSPI"/>-->
    <add key="connStr" value="Initial Catalog={DATABASE};Data Source=dev3.mdclarity.local;Integrated Security=SSPI" />
    <!--<add key="connStr" value="Initial Catalog={DATABASE};Data Source=10.84.79.40;Integrated Security=SSPI"/>-->
  </appSettings>
</configuration>